<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button mat-raised-button class="add--button" color="primary" (click)="addNewStore()">
        <span class="material-icons">
          add_circle_outline
        </span>

        Add new Store
      </button>
    </div>
  </div>
</div>



<div class="row categories">
  <ng-container *ngFor="let store of stores; let index = index;">
    <mat-card>
      <div class="row">
        <div class="col-md-8">
          <p class="category__title">
            {{store["name"]}}
          </p>

        </div>
        <div class="col-md-4">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="operation('edit', store)">
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="operation('delete', store)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>

          </mat-menu>
        </div>
      </div>

    </mat-card>



  </ng-container>



</div>
