

.align-center {
    text-align: center;
}



textarea {
  width: 100%;
}


.mat-dialog-container {
  background: #fff;
  color: #000;
}


mat-dialog-container  {
  transform: none;
  height: 600px !important;
 }
