

.tiles-panel {
  border-bottom-style: SOLID;
  border-bottom-width: 1px;
  border-bottom-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
}


.material-icons {
  color: rgb(218, 69, 69);
  cursor: pointer;
}


