<ng-container *ngIf="data.from === 'categories'">
  <h1 mat-dialog-title *ngIf="this.data.type === 'add'">Add Category</h1>
  <h1 mat-dialog-title *ngIf="this.data.type === 'edit'">Edit Category</h1>

  <form [formGroup]="categoryForm" (ngSubmit)="save(categoryForm,categoryForm.value,'categories')">
    <div class="form-group">
      <label for="name">Category Name</label>
      <input type="text" name="" formControlName="name" placeholder="Add Category Name" class="form-control" id="">
      <input type="file" (change)="uploadFile($event)" formControlName="imageUrl">
      <button class="btn btn-primary" [disabled]="!categoryForm.valid">Save</button>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="data.from === 'stores'">
  <h1 mat-dialog-title *ngIf="this.data.type === 'add'">Add Stores</h1>
  <h1 mat-dialog-title *ngIf="this.data.type === 'edit'">Edit Stores</h1>


  <form [formGroup]="storeForm" (ngSubmit)="save(storeForm,storeForm.value,'stores')">
    <div class="form-group">
      <label for="name">Store Name</label>
      <input type="text" name="" formControlName="name" placeholder="Enter full store name" class="form-control" id="">
      <label for="name">Choose Category</label>
      {{category}}
      <select class="form-control" formControlName="category" id="category">
        <option [ngValue]="null">Choose Category</option>
        <option [ngValue]="category['name']" *ngFor="let category of data.data.categories">{{category['name']}}</option>
      </select>
      <label for="name">Owner Name</label>
      <input type="text" name="" formControlName="owner" placeholder="Enter full owner name" class="form-control" id="">
      <label for="name">Mobile Number</label>
      <input type="number" name="" formControlName="phone" placeholder="Enter Mobile" class="form-control" id="">
      <label for="name">State</label>
      <input type="text" name="" formControlName="city" placeholder="Your store state" class="form-control" id="">
      <label for="name">City</label>
      <input type="text" name="" formControlName="state" placeholder="Your store city" class="form-control" id="">
      <label for="name">Address</label> <br>
      <textarea height="300" width="300" formControlName="address" placeholder="Enter full address"></textarea> <br>

      <label for="From">From</label>
      <input type="time" formControlName="from">
      <label for="To">To</label>
      <input type="time" formControlName="to"> <br>

      <input type="file" (change)="uploadFile($event)" formControlName="imageUrl">

      <button class="btn btn-primary" [disabled]="!storeForm.valid">Save</button>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="data.from === 'products'">
  <form [formGroup]="productForm" (ngSubmit)="save(productForm,productForm.value,'products')">
    <label for="name">Product Name</label>
    <input type="text" name="" formControlName="name" placeholder="Enter full product name" class="form-control" id="">
    <label for="name">Price</label>
    <input type="number" name="" formControlName="price" placeholder="Enter price" class="form-control" id="">
    <label for="name">Type</label>
    <select class="form-control" formControlName="type" id="type">
      <option [ngValue]="null">Choose Type</option>
      <ng-container *ngFor="let tile of data.tiles">
        <option [ngValue]="tile">{{tile}}</option>
      </ng-container>
    </select>
    <label for="name">Description</label>
    <textarea height="300" width="300" formControlName="description" placeholder="Enter description"></textarea>
    <input type="file" (change)="uploadFile($event)" formControlName="imageUrl">
    <button class="btn btn-primary" [disabled]="!productForm.valid">Save</button>
  </form>
</ng-container>

<ng-container *ngIf="data.from === 'add-tiles'">
  <form [formGroup]="categoriesForm">
    <label for="name">Tile Name</label>
    <input type="text" formControlName="name">
    <button class="btn btn-primary" (click)="tileOperation('add', categoriesForm.value)"
      [disabled]="!categoriesForm.valid">Add</button>
    <button class="btn btn-secondary" (click)="tileOperation('save')">Save</button>
  </form>

  <div class="tiles" *ngIf="tiles.length > 0; else noTiles">
    <div class="row tiles-panel" *ngFor="let tile of tiles; let index = index">
      <div class="col-md-10">
        {{tile}}
      </div>
      <div class="col-md-2">
        <span class="material-icons" (click)="tileOperation('delete',null, index)">
          delete
        </span>
      </div>
    </div>
  </div>

  <ng-template #noTiles>
    <div class="no-data">
      No Tiles
    </div>
  </ng-template>
</ng-container>
