<h1 mat-dialog-title *ngIf="this.data.type === 'add'">Add Category</h1>
<h1 mat-dialog-title *ngIf="this.data.type === 'edit'">Edit Category</h1>

<form  [formGroup]="categoryForm"  (ngSubmit)="save(categoryForm,categoryForm.value)">
  <div class="form-group">
    <label for="name">Category Name</label>
    <input type="text" name="" formControlName="name" placeholder="Add Category Name" class="form-control" id="">
    <input type="file" (change)="uploadFile($event)">
    <button class="btn btn-primary">Save</button>
  </div>
</form>
